* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}
ul {
  list-style: none;
}

body {
  background-color: black;
  color: white;
}

/*  */

.projectList {
  position: relative;
}
@keyframes moveAndScale {
  50% {
    background-size: 40%;
    background-position: left -25% bottom 30%;
  }
  /* 100% {
    background-size: 50% 50%;
    background-position: center center;
  } */
}
/*  */

section h2 {
  text-align: center;
  font-size: clamp(45px, 7vw, 60px);
  color: transparent;
  -webkit-text-stroke: 1px white;

  -webkit-background-clip: text;

  background-image: linear-gradient(0deg, white 0%, white 100%);
  background-position: 100% 100%;
  background-size: 100% 0%;
  background-repeat: no-repeat;

  transition: background-size 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
section h2.active {
  background-size: 100% 100%;
}

.textBox img {
  width: 30px;
  background-color: white;
  padding: 10px;
}

/* project 섹션 */
#project .projectList {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  position: sticky;
  top: 0;
  background-color: black;
  box-sizing: border-box;
  /* margin-left: 20px; */
}
.spacer {
  padding-bottom: 600px;
}
#project .projectList .subTitle {
  font-size: 45px;
  font-weight: bold;
  margin-left: 15px;
  opacity: 0;
}
#project .projectList .subTitle.down {
  animation: bounce 0.8s forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* project_이너 컨텐츠 */
#project .contain {
  width: 90%;
  height: 80%;
  text-align: center;
  /* border: 1px solid blue; */
  /* margin: 0px auto; */
  position: absolute;
  /* left: 00%; */
  top: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateY(-50%);

  display: flex;
  /* border: 1px solid red; */
  gap: 15px;
  margin: 0px 20px;
}
#project .projectList:nth-child(4n) .contain {
  flex-direction: row-reverse;
  right: 0%;
}
#project .projectList:nth-child(4n) .textBox {
  text-align: right;
}

/* project_이너_목업 이미지 */
#project .contain > a {
  width: 85%;
  /* border: 1px solid blue; */
  text-align: left;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.3);

  transition: 0.4s;
  /* border-radius: 50%; */
  text-align: center;
  filter: brightness(70%);
  position: relative;
}
#project .projectList .contain > a::before {
  /* width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0; */
  /* filter: brightness(0.5) contrast(1.2);  */
  filter: brightness(80%);
  z-index: -1;
}
/* #project .projectList:nth-child(2) .contain > a::before {
  background: url(img/bg1.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(4) .contain > a::before {
  background: url(img/bg2.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(6) .contain > a::before {
  background: url(img/bg3.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(8) .contain > a::before {
  background: url(img/bg4.jpg) no-repeat center / cover;
} */

#project .projectList:nth-child(2) .contain > a {
  background: url(img/bg1.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(4) .contain > a {
  background: url(img/bg2.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(6) .contain > a {
  background: url(img/bg3.jpg) no-repeat center / cover;
}
#project .projectList:nth-child(8) .contain > a {
  background: url(img/bg4.jpg) no-repeat center / cover;
}

/*  */
/*  */
/*  */
/*  */

/* 실험용 */
#project .projectList:nth-child(4) {
  /* position: relative; */
}
#project video {
  width: 75%;
  position: absolute;
  /* left: 0px; */
  /* object-fit: contain; */

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#project .contain > a:hover {
  /* filter: brightness(100%); */
}
#project .contain img {
  width: 90%;
  /* height: 100%; */
  /* width: 10%; */
  /* filter: brightness(90%); */
}

#project .projectList:nth-child(10) a:hover img {
  /* display: none;   */
  /* opacity: 0; */
}
#project .projectList:nth-child(10) a:hover video {
  /* display: block; */
  /* opacity: 1; */
}
#project .projectList:nth-child(10) img {
  /* position: relative; */
  opacity: 1;
  transition: 0.3s;
}
#project .projectList:nth-child(10) video {
  /* width: 90%; */
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
}
#project .projectList:nth-child(10) .contain a {
  width: 100%;
  /* width: 90%; */
  border: none;
}

/*  */
/*  */
/*  */

/* project_텍스트 박스 */
#project .contain .textBox {
  /* position: absolute; */
  /* right: 10%;
  margin-top: 10px; */
  text-align: left;
}
#project .textBox h3 {
  font-size: 2vw;

  margin-left: -50px;
  opacity: 0;
}
#project .textBox p {
  margin: 10px 0px 20px;

  margin-left: -50px;
  opacity: 0;
}
#project .projectList:nth-child(4n) .textBox h3 {
  margin-left: 0px;
  margin-right: -50px;
}
#project .projectList:nth-child(4n) .textBox p {
  margin-left: 0px;
  margin-right: -50px;
}

#project .textBox .process {
  background-color: rgb(104, 154, 29);
  display: inline-block;
  border-radius: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#project .textBox .process a {
  padding: 8px 20px;
}

/* project_커서 */
#cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  position: fixed; /* 지금은 absolute를 써도 되긴 함, 근데 ab은 부모 영향을 받을수도 있음 */
  left: 0;
  top: 0;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  color: black;
  text-align: center;
  align-content: center;
  font-weight: bold;
  pointer-events: none;
  /* display: none; */
  transition: transform 0.3s ease 0.1s;
  /* transition: background 0.2s; */
  mix-blend-mode: exclusion;
}
#cursor.on {
  /* background-color: #ff4d6d; */
  /* box-shadow: 0px, 0px, 20px, rgba(255, 0, 0, 0.3); */
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

/*  */
/*  */
/*  */
/*  */
/*  */
