/* work 섹션 */
section h2 {
  text-align: center;
  font-size: clamp(45px, 7vw, 60px);
  color: transparent;
  -webkit-text-stroke: 1px white;
}

#work {
  /* position: relative; */
  /* height: 200vh; */
}
#work .all {
  height: 400vh;
}
#work .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(800px);

  position: sticky;
  top: 0;
}
#work .workList {
  width: 250px;
  height: 200px;
  position: relative;
  /* background-color: orange; */

  transform-style: preserve-3d;
  transition: 1s transform;
  transform: translateZ(500px) rotateX(0deg) rotateY(0deg);
  /* rotateZ 넣말 고민 
   rotateZ(5deg)
  */
}
#work .workList .card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  color: black;

  text-align: center;
  align-content: center;
  border-radius: 15px;
}
#work .card img {
  width: 50%;
}
#work .card p {
  margin-top: 15px;
}

.workList .card:nth-child(1) {
  /* transform: rotateY(0deg) translateZ(-250px); */
  /* background-color: rgb(149, 77, 77); */
}
.workList .card:nth-child(2) {
  /* transform: rotateY(72deg) translateZ(-250px); */
  /* background-color: rgb(74, 28, 28); */
}
.workList .card:nth-child(3) {
  /* transform: rotateY(144deg) translateZ(-250px); */
  /* background-color: rgb(151, 15, 15); */
}
.workList .card:nth-child(4) {
  /* transform: rotateY(216deg) translateZ(-250px); */
  /* background-color: rgb(28, 74, 40); */
}
.workList .card:nth-child(5) {
  /* transform: rotateY(288deg) translateZ(-250px); */
  /* background-color: rgb(28, 50, 74); */
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* design 섹션 */
#design {
  height: 200vh;
}
#design .pin {
  /* height: 50vh; */
  height: 50%;
  /* position: sticky;
  top: 0; */
  /* background-color: bisque; */
  color: black;
  font-size: 30px;
  text-align: center;
  align-content: center;
}
#design .pin p {
  color: white;
  font-size: 50px;
}
#design ul {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  border: 1px solid red;
  position: relative;
  padding: 0px 20px;
}
#design li {
  /* width: 45%; */
  /* width: 400px; */
  width: calc(100% / 3 - 35px);
  height: 300px;
  background-color: green;
  /* display: none; */
}
#design li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#design li.on {
  position: absolute;
}
#design li.on:nth-child(1) {
  left: 8%;
  top: -15%;
  transform: scale(0.6);
}
#design li.on:nth-child(2) {
  left: 40%;
  top: -50%;
}
#design li.on:nth-child(3) {
  right: 10%;
  top: -20%;
}
#design li.on:nth-child(4) {
  left: 50%;
  top: -10%;
  display: block;
  /* opacity: 0; */
  transform: scale(0.8);
}
