* {
  margin: 0px;
  padding: 0px;
}

/* main 페이지 */
#main {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}
#main .images {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

/* main_이미지 위치 조정 */

/* main_스티커_삼각형 */
#main .images .tri {
  width: 310px;
  overflow: hidden;

  position: absolute;
  left: -80px;
  top: -80px;
  transform: rotate(-20deg);

  mask-image: url(img/main_tri.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url(img/main_tri.png); /* Safari */
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
#main .images .tri img {
  width: 100%;
}
#main .images .tri::before {
  width: 20%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: -75%; /* 화면 밖에서 시작 */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 1.8s ease-in-out infinite;
}
@keyframes shine {
  100% {
    left: 125%; /* 오른쪽으로 지나가기 */
  }
}

/* main_스티커_타원 */
#main .images img:nth-child(2) {
  position: absolute;
  right: -60px;
  top: 30px;
  transform: rotate(-10deg);

  animation: sticker 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes sticker {
  0% {
    transform: scale(0) rotate(-15deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  70% {
    transform: scale(0.9) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(-10deg);
    opacity: 1;
  }
}

/* main_스티커_원형 */
#main .images .circle {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url(img/main_cir.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* main_스티커_사각형 */
#main .images .square {
  width: 350px;
  height: 150px;
  transform: rotate(-20deg);
  background-image: url(img/main_squ.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -20px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square .text {
  font-size: 30px;
  /* text-align: center; */
  /* align-content: center; */
  /* align-items: center; */
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}
.square .text p {
  line-height: 1;
}
.square .text p:nth-child(2) {
  transform: translateY(-100%);
  animation: setOrigin 1s forwards;
}
.square .text p:nth-child(3) {
  transform: translateY(-200%);
  animation: setOrigin 1s forwards;
}
@keyframes setOrigin {
  100% {
    transform: translateY(0%);
  }
}
.square .text .white {
  color: white;
}
.square .text .line {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

/* main_스크롤 */
.scroll {
  position: absolute;
  /* background-color: red; */
  color: white;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.scroll > div {
  width: 30px;
  height: 60px;
  background-color: #ddd;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px 0px;
  box-sizing: border-box; /*씁 뭔가 이상한데 걍 ab으로 띄우는게?*/
}
.scroll > div div {
  width: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  margin: 0px auto;
  animation: scroll 1s linear infinite;
}
@keyframes scroll {
  100% {
    transform: translateY(100%);
  }
}

/*메인 텍스트_포폴*/
#portpolio {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
.center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
.mainSvg {
  background-color: #eee;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  display: block;
}
text {
  color: black;
  /* position: absolute;
  top: 50%;
  left: 50%; */
}
path {
  color: red;
}
text {
  fill: dodgerblue;
  font-size: 17px;
  font-weight: bold;
}
.path {
  fill: transparent;
  stroke: crimson;
  stroke-width: 5;
}

/* work 섹션 */
section h2 {
  text-align: center;
  font-size: clamp(45px, 7vw, 60px);
  color: transparent;
  -webkit-text-stroke: 1px white;
}

#work {
  /* position: relative; */
  /* height: 200vh; */
}
#work .all {
  height: 400vh;
}
#work .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(800px);

  position: sticky;
  top: 0;
}
#work .workList {
  width: 250px;
  height: 200px;
  position: relative;
  /* background-color: orange; */

  transform-style: preserve-3d;
  transition: 1s transform;
  transform: translateZ(500px) rotateX(0deg) rotateY(0deg);
  /* rotateZ 넣말 고민 
   rotateZ(5deg)
  */
  cursor: grab;
}
#work .workList .card {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  color: black;

  text-align: center;
  align-content: center;
  border-radius: 15px;
}
#work .card img {
  width: 50%;
}
#work .card p {
  margin-top: 15px;
}

.workList .card:nth-child(1) {
  /* transform: rotateY(0deg) translateZ(-250px); */
  /* background-color: rgb(149, 77, 77); */
}
.workList .card:nth-child(2) {
  /* transform: rotateY(72deg) translateZ(-250px); */
  /* background-color: rgb(74, 28, 28); */
}
.workList .card:nth-child(3) {
  /* transform: rotateY(144deg) translateZ(-250px); */
  /* background-color: rgb(151, 15, 15); */
}
.workList .card:nth-child(4) {
  /* transform: rotateY(216deg) translateZ(-250px); */
  /* background-color: rgb(28, 74, 40); */
}
.workList .card:nth-child(5) {
  /* transform: rotateY(288deg) translateZ(-250px); */
  /* background-color: rgb(28, 50, 74); */
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* design 섹션 */
#design {
  height: 200vh;
}
#design .pin {
  /* height: 50vh; */
  height: 50%;
  /* position: sticky;
  top: 0; */
  /* background-color: bisque; */
  color: black;
  font-size: 30px;
  text-align: center;
  align-content: center;
}
#design .pin p {
  color: white;
  font-size: 50px;
}
#design ul {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  border: 1px solid red;
  position: relative;
  padding: 0px 20px;
}
#design li {
  /* width: 45%; */
  /* width: 400px; */
  width: calc(100% / 3 - 35px);
  height: 300px;
  background-color: green;
  /* display: none; */
}
#design li.on img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#design li.on {
  position: absolute;
}
#design li img {
  /* width: 100%; */
}
#design li.on:nth-child(1) {
  left: 8%;
  top: -15%;
  transform: scale(0.6);
}
#design li.on:nth-child(2) {
  left: 40%;
  top: -50%;
}
#design li.on:nth-child(3) {
  right: 10%;
  top: -20%;
}
#design li.on:nth-child(4) {
  left: 50%;
  top: -10%;
  display: block;
  /* opacity: 0; */
  transform: scale(0.8);
}
