body {
  background-color: orangered;
}

#section1,
#section2 {
  height: 100vh;
  background-color: white;
}

/*  */

#transition {
  height: 300vh; /* 스크롤 길이 확보 */
}

.scene {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.scene {
  position: sticky;
  top: 0;
  height: 100vh;
  perspective: 1200px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.camera {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.next-section {
  position: absolute;
  inset: 0;
  /* background: url(next.jpg) center/cover no-repeat; */
  /* background-color: goldenrod; */
  transform: scale(0.8);
}
.next-section {
  position: absolute;
  inset: 0;
  /* background: url(next.jpg) center/cover; */
  transform: translateZ(-1200px) scale(2);
}

.door-wrap {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 120px;
  height: 200px;
  transform-origin: center;
  background-color: blue;
}
.door-wrap {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 140px;
  height: 240px;
  transform-style: preserve-3d;
  transform: translateZ(-600px);
}

/*  */

.door {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #3b2a1a;
  top: 0;
}

.door.left {
  left: 0;
  transform-origin: left center;
}

.door.right {
  right: 0;
  transform-origin: right center;
}
